@charset "UTF-8";
.demarches {
  display: flex;
  padding: 10%;
  gap: 5%;
}
.demarches .circle {
  display: flex;
  justify-content: center;
  background-color: white;
  border-radius: 50%;
  width: 500px;
  height: 400px;
}
.demarches .circle img {
  position: relative;
  display: flex;
  height: 70%;
  width: 60%;
  top: 10%;
}
.demarches .demarchesTexte {
  flex-direction: column;
}
.demarches .demarchesTexte p {
  text-decoration: none;
  text-align: start;
}
.demarches .lienDemarche {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.demarches .lienDemarche a {
  text-decoration: none;
}
.demarches .lienDemarche a img {
  height: 50px;
  width: 50px;
  transform: rotate(180deg);
}
.demarches .lienDemarche h2 {
  font-size: 30px;
}

fieldset {
  margin-right: 5%;
  margin-left: 5%;
  margin-top: 5%;
}

@media screen and (max-width: 500px) {
  .demarches .lienDemarche h2 {
    font-size: 25px;
  }
  .demarches {
    display: flex;
    padding: 10%;
    gap: 5%;
  }
  .demarches .circle {
    display: flex;
    justify-content: center;
    background-color: white;
    border-radius: 50%;
    width: 210px;
    height: 200px;
  }
  .demarches .circle img {
    position: relative;
    display: flex;
    height: 60%;
    width: 50%;
    top: 20%;
  }
  .demarches {
    display: flex;
    flex-direction: column;
  }
  .demarches h2 {
    font-size: 25px;
  }
  .demarches p {
    font-size: 20px;
  }
}
.EvenementsAccueil {
  margin-left: 10%;
}

.containerdeux .imagesEvenementsAccueil {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 5px;
  padding-bottom: 50px;
}
.containerdeux .imagesEvenementsAccueildeux {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 5px;
  padding-bottom: 50px;
}
.containerdeux .containerdeuxtexte h2 {
  text-align: center;
}
.containerdeux .containerdeuxtexte p {
  text-align: justify;
  margin-right: 10%;
  margin-left: 10%;
  padding-bottom: 100px;
}
.containerdeux img {
  border-radius: 100px 100px 0px 0px;
  width: 380px;
  height: 250px;
  padding: 2%;
}

.overlay-image {
  position: relative;
  display: inline-block;
}

.overlay-image img {
  vertical-align: middle;
}

.overlay-image .hover-image {
  /* Positionnement du contenu hover */
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  /* Effets de transition */
  opacity: 0;
  transition: opacity 0.25s ease-in-out;
  /* Style du contenu hover */
  background-color: rgba(51, 51, 51, 0.74); /* Couleur par défaut */
  color: white;
  padding: 30px;
  border-radius: 100px 100px 0px 0px;
  width: 380px;
  height: 250px;
  padding: 2%;
  /* Centrer le contenu */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.overlay-image:hover .hover-image {
  opacity: 1; /* Lors du hover, on remet l'opacité à 1 */
}

.EvenementsAccueil h3 {
  font-family: "Jost", sans-serif;
}

.EvenementsAccueil a {
  font-family: "Jost", sans-serif;
  color: white;
}

@media screen and (max-width: 500px) {
  .containerdeuxtexte h2 {
    font-size: 25px;
  }
  .containerdeuxtexte p {
    font-size: 20px;
  }
  .containerdeux img {
    border-radius: 70px 70px 0px 0px;
    width: 200px;
    height: 150px;
    padding: 2%;
  }
  .overlay-image .hover-image {
    border-radius: 70px 70px 0px 0px;
    width: 200px;
    height: 150px;
    padding: 2%;
  }
  .EvenementsAccueil h3 {
    font-family: "Jost", sans-serif;
    font-size: 10px;
  }
  .EvenementsAccueil a {
    font-family: "Jost", sans-serif;
    color: white;
  }
  .EvenementsAccueil p {
    font-family: "Jost", sans-serif;
    color: white;
    font-size: 10px;
  }
  .EvenementsAccueil {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-left: 3%;
  }
  .containerdeux .imagesEvenementsAccueil {
    display: grid;
    grid-template-columns: repeat(1, 3fr);
    grid-gap: 5px;
    padding-bottom: 50px;
  }
  .containerdeux .imagesEvenementsAccueildeux {
    display: grid;
    grid-template-columns: repeat(1, 3fr);
    grid-gap: 5px;
    padding-bottom: 50px;
  }
  .containerdeux .containerdeuxtexte h2 {
    text-align: center;
  }
  .containerdeux .containerdeuxtexte p {
    text-align: center;
  }
}
.containerun {
  background-color: #494747;
  margin: 5%;
  padding: 5%;
  margin-top: 0%;
}

.accueilIntro p {
  font-size: 20px;
  line-height: 200%;
  text-align: justify;
}
.accueilIntro h2 {
  font-size: 50px;
  text-align: center;
}

.dernieresnouvelles h2 {
  text-align: center;
}

.ActusLiens a {
  color: #DABB70;
}

.slider {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#slides {
  position: relative;
  height: 500px;
  padding: 0px;
  margin: 0px;
  list-style-type: none;
  background-image: url("../../images/accueil/notabene2.jpg");
  width: 50%;
}

.slider__slide {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 1;
  font-size: 40px;
  padding: 40px;
  box-sizing: border-box;
  background: #333;
  color: #fff;
  transition: opacity 0.5s;
}

.showing {
  opacity: 1;
  z-index: 2;
}

.slider {
  height: 800px;
  overflow: hidden;
  position: relative;
}

.slider img {
  width: 80%;
  height: 80%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 1s ease-in-out;
  padding-left: 10%;
}

.slider img.active {
  opacity: 1;
}

.slider .arrow {
  position: absolute;
  top: 40%;
  margin-right: 10%;
  transform: translateY(-50%);
  font-size: 50px;
  cursor: pointer;
  color: #DABB70;
}

.slider .prev {
  left: 11%;
}

.slider .next {
  right: 10px;
}

.ActusLiens {
  margin-top: -5%;
}

@media all and (max-width: 500px) {
  .DlText {
    margin-top: 16%;
    font-size: medium;
  }
}
@media screen and (max-width: 500px) {
  .slider img {
    width: 80%;
    height: 100%;
  }
  .slider .arrow {
    top: 55%;
    font-size: 35px;
  }
  .slider {
    height: 200px;
    overflow: hidden;
    position: relative;
  }
}
.container {
  top: 10%;
}

.button {
  border: none;
  display: block;
  text-align: center;
  cursor: pointer;
  text-transform: uppercase;
  outline: none;
  overflow: hidden;
  position: relative;
  color: #eeeeee;
  font-weight: 600;
  font-size: 20px;
  background-color: #494747;
  padding: 13px 50px;
  margin: 0 auto;
  font-family: "Jost", sans-serif;
}

.button span {
  position: relative;
  z-index: 1;
}

.button:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 470%;
  width: 140%;
  background: #3e6291;
  transition: all 0.5s ease-in-out;
  transform: translateX(-100%) translateY(-25%) rotate(45deg);
}

.button:hover:after {
  transform: translateX(-9%) translateY(-25%) rotate(45deg);
}

.container p {
  padding-left: 20%;
  padding-right: 20%;
  padding-bottom: 50px;
  color: white;
  font-family: "Jost", sans-serif;
  text-align: start;
  line-height: 30px;
}

@media all and (max-width: 500px) {
  .container p {
    width: 90%;
    padding-left: 5%;
    padding-right: 5%;
    margin: auto;
    font-size: large;
    text-align: justify;
    letter-spacing: 1px;
  }
}
html {
  overflow-x: hidden;
}

.CorpsDePage {
  background-color: #333333;
  width: 100%;
  padding-bottom: 5%;
  padding-top: 0%;
}
.CorpsDePage h1 {
  display: flex;
  justify-content: center;
  color: #DABB70;
  font-family: "Lora", serif;
  letter-spacing: 3px;
  font-size: 50px;
  padding-top: 2%;
  padding-left: 8px;
}
.CorpsDePage .EventNumerique {
  background-color: #494747;
  width: 87%;
  margin-left: 4%;
  padding-left: 4%;
  padding-bottom: 4%;
}
.CorpsDePage .TexteADroite {
  display: flex;
  flex-direction: column;
  align-self: center;
  color: white;
  padding-left: 4%;
  margin-right: 12%;
  font-family: "Jost", sans-serif;
}
.CorpsDePage .TexteAGauche {
  display: flex;
  flex-direction: column;
  align-self: center;
  color: white;
  width: 28%;
  margin-left: 4%;
  margin-right: 10%;
  font-family: "Jost", sans-serif;
}
.CorpsDePage .BlocImgTxt {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.CorpsDePage .NouvelleTechnologie {
  width: 50%;
  margin-right: 0;
  padding-bottom: 4%;
  margin-left: 1%;
}
.CorpsDePage .BlocImgTxt1 {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}
.CorpsDePage .Festival {
  width: 80%;
  margin-right: 10%;
  padding-bottom: 4%;
  width: 50%;
  margin-left: 1%;
}
.CorpsDePage .BlocImgTxt2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.CorpsDePage .BruxelleTour {
  width: 50%;
  margin-right: 0;
  padding-bottom: 4%;
  margin-left: 1%;
}
.CorpsDePage .BlocImgTxt3 {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}
.CorpsDePage .FoireDuMidi {
  width: 80%;
  margin-right: 10%;
  padding-bottom: 4%;
  width: 50%;
  margin-left: 1%;
}
.CorpsDePage .BlocImgTxt4 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.CorpsDePage .BlocImgTxt4 p {
  margin-top: 0;
}
.CorpsDePage .MatchDeFoot {
  width: 50%;
  margin-right: 0;
  padding-bottom: 4%;
  margin-left: 1%;
}
.CorpsDePage .BlocImgTxt5 {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}
.CorpsDePage .MannifDeMatt {
  width: 80%;
  margin-right: 10%;
  padding-bottom: 4%;
  width: 50%;
  margin-left: 1%;
}

.footerContact {
  margin-bottom: 0;
}

.footerContact {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-bottom: 0;
  padding: 5%;
}
.footerContact .footerTexteContact h2 {
  font-family: "Lora", serif;
  font-size: xxx-large;
  color: #DABB70;
  justify-content: start;
  margin-top: 0;
}
.footerContact .footerMap {
  display: flex;
  justify-content: center;
  margin-right: 10%;
}
.footerContact .footerMap iframe {
  width: 600px;
  height: 400px;
}

.footerTexteContact p {
  margin-right: 20%;
  line-height: 40px;
  text-align: justify;
  letter-spacing: 0.5px;
}

.logoContact {
  display: flex;
  gap: 20px;
}
.logoContact #facebook {
  width: 50px;
}
.logoContact #twitter {
  width: 50px;
}
.logoContact #instagram {
  width: 50px;
}
.logoContact #tiktok {
  width: 50px;
}
.logoContact #youtube {
  width: 50px;
}
.logoContact #spotify {
  width: 50px;
}

.basPage {
  background-color: #3e6291;
  display: flex;
  justify-content: center;
  padding: 2%;
}
.basPage .texteEtLien {
  display: flex;
  flex-direction: column;
  padding-right: 50px;
}
.basPage .texteEtLien .basPageTexte {
  display: flex;
  font-family: "Jost", sans-serif;
  color: white;
  font-size: 30px;
  justify-content: center;
}
.basPage .texteEtLien .lienFooter {
  font-family: "Jost", sans-serif;
  font-size: 40px;
}
.basPage .texteEtLien .lienFooter a {
  color: white;
}
.basPage .texteEtLien .footerHebergement p {
  display: flex;
  justify-content: center;
  padding-top: 5%;
}

.logoFooter {
  display: flex;
  flex-direction: column;
}
.logoFooter #animaux {
  width: 57px;
}
.logoFooter #unesco {
  width: 150px;
}
.logoFooter #vbx {
  width: 150px;
}

@media all and (max-width: 500px) {
  footer {
    width: 100%;
  }
  .footerContact {
    flex-direction: column;
    width: 100%;
    padding: 0%;
    margin-left: 5%;
  }
  .footerContact h2 {
    width: 100%;
  }
  .footerContact .footerTexteContact h2 {
    margin-top: 30px;
    font-size: xx-large;
    text-align: start;
    margin-left: 10%;
  }
  .footerContact p {
    font-size: large;
    margin-right: 13%;
    text-align: justify;
    letter-spacing: 0;
  }
  .logoContact {
    display: block;
    padding-bottom: 20px;
  }
  .footerTexteContact {
    width: 100%;
  }
  .footerMap iframe {
    margin-left: 5%;
    margin-right: 5%;
    padding-bottom: 25px;
  }
  .footerContact .footerMap iframe {
    height: 200px;
    width: 300px;
  }
  .logoFooter {
    flex-direction: row;
  }
  .logoFooter a {
    width: 40%;
  }
  .basPage {
    display: flex;
    flex-direction: column;
    padding-left: 0;
  }
  .basPageTexte p {
    font-size: medium;
    text-align: center;
  }
  .lienFooter {
    width: 100%;
    text-align: center;
    margin-left: 5%;
  }
  .lienFooter a {
    font-size: 20px;
  }
  .footerHebergement p {
    font-size: medium;
  }
}
.formulaire {
  border: thick #DABB70 double;
  margin-left: 5%;
  margin-right: 5%;
  padding-top: 20px;
  padding-bottom: 100px;
  background-color: #494747;
  box-shadow: 5px 5px 10px white;
}

.formulaire h2 {
  text-align: center;
  color: #DABB70;
  font-family: "Lora", serif;
  text-transform: uppercase;
  padding-bottom: 30px;
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.name {
  display: flex;
  gap: 200px;
  color: white;
  font-family: "Lora", serif;
  margin-left: 30%;
  margin-right: 30%;
  padding-bottom: 20px;
}

.lastname input {
  width: 300px;
  height: 30px;
  margin-top: 10px;
}

.firstname input {
  width: 300px;
  height: 30px;
  margin-top: 10px;
}

.mail-phone {
  gap: 15px;
  padding-top: 15px;
  color: white;
  font-family: "Lora", serif;
  margin-left: 30%;
  margin-right: 30%;
}

.email input {
  width: 800px;
  height: 30px;
  margin-top: 10px;
  margin-bottom: 15px;
}

.phone input {
  width: 800px;
  height: 30px;
  margin-top: 10px;
}

.message {
  display: flex;
  flex-direction: column;
  padding-top: 15px;
  gap: 5px;
  color: white;
  font-family: "Lora", serif;
  margin-left: 30%;
  margin-right: 30%;
}

.message textarea {
  width: 800px;
  height: 200px;
}

.ville {
  display: flex;
  flex-direction: column;
  padding-top: 15px;
  gap: 2px;
  color: white;
  font-family: "Lora", serif;
  padding-top: 15px;
  margin-left: 30%;
  margin-right: 30%;
}

.ville input {
  width: 800px;
  height: 30px;
}

.contact button {
  padding: 10px 30px;
  background-color: #a48438;
  font-family: "Jost", sans-serif;
  color: white;
  margin-top: 20px;
  display: flex;
  align-self: center;
  margin-left: 60%;
  margin-right: 13.5%;
  border-radius: 20px;
  letter-spacing: 2px;
}

button:hover {
  background-color: rgb(29, 29, 95);
}

@media all and (max-width: 500px) {
  .formulaire {
    width: 90%;
    margin-left: 2%;
    margin-right: 2%;
  }
  .formulaire h2 {
    text-align: center;
    font-size: large;
  }
  .name {
    flex-direction: column;
    gap: 10px;
    margin-left: 10%;
    margin-right: 5%;
    padding-bottom: 0;
  }
  .lastname input {
    width: 100%;
    height: 30px;
    margin-top: 10px;
  }
  .firstname input {
    width: 100%;
    height: 30px;
    margin-top: 10px;
  }
  .mail-phone {
    margin-left: 10%;
    margin-right: 5%;
  }
  .email input {
    width: 100%;
    height: 30px;
    margin-top: 10px;
  }
  .phone input {
    width: 100%;
    height: 30px;
    margin-top: 10px;
  }
  .ville {
    margin-left: 10%;
    gap: 0;
    margin-right: 5%;
  }
  .ville input {
    width: 100%;
    height: 30px;
  }
  .message {
    margin-left: 10%;
    margin-right: 5%;
  }
  .message textarea {
    width: 100%;
    height: 150px;
    margin: auto;
  }
  .contact button {
    display: flex;
    align-self: flex-start;
    margin-left: 10%;
  }
}
.header h1 {
  color: white;
  align-items: center;
  font-family: "Lora", serif;
}

header {
  background-image: url(/images/accueil/cover2.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: 40%;
}

.header h2 {
  font-family: "Jost", sans-serif;
  margin: auto;
  color: white;
  font-size: 40px;
  margin-bottom: 10px;
}

.contenuhd {
  height: 100%;
}

.elementhd {
  display: flex;
  flex-direction: column;
  padding-left: 50px;
  background-color: rgba(0, 0, 0, 0.474);
  margin-left: 60%;
  padding-bottom: 160px;
}
.elementhd h1 {
  display: flex;
  justify-content: center;
  font-size: 35px;
}
.elementhd h2 {
  display: flex;
  justify-content: center;
}

nav {
  font-size: 25px;
}
nav #ac {
  text-decoration: none;
  color: white;
  font-family: "Jost", sans-serif;
}
nav #ac:hover {
  color: #DABB70;
}
nav #ev {
  text-decoration: none;
  color: white;
  font-family: "Jost", sans-serif;
}
nav #ev:hover {
  color: #DABB70;
}
nav #co {
  text-decoration: none;
  color: white;
  font-family: "Jost", sans-serif;
}
nav #co:hover {
  color: #DABB70;
}

.AccueilNav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-right: 0px;
  list-style: none;
}

.logo1 img {
  width: 40%;
  padding-left: 35%;
  margin-top: 15px;
}

.recherches {
  width: 200px;
  display: flex;
  justify-content: flex-end;
  margin-left: 40%;
  padding-bottom: 1%;
}

@media all and (max-width: 500px) {
  .recherches {
    display: block;
    margin-left: 4%;
    padding-bottom: 1%;
  }
  .recherches .search-box {
    height: 20px;
  }
  .recherches .search-txt {
    font-size: medium;
    line-height: 20px;
  }
  .recherches .search-btn {
    display: block;
    width: 30px;
    height: 30px;
    background: none;
  }
  .recherches .search-box:hover > .search-btn {
    background: none;
    color: #DABB70;
  }
}
.search-box {
  background: #666666;
  height: 40px;
  border-radius: 40px;
  padding: 10px;
  display: flex;
}

.search-box:hover > .search-txt {
  width: 200px;
  padding: 0;
}

.search-box:hover > .search-btn {
  background: white;
  color: #DABB70;
}

.search-btn {
  color: #eeeeee;
  float: right;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #DABB70;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
  color: white;
  cursor: pointer;
  text-decoration: none;
}

.search-btn > i {
  font-size: 20px;
}

.search-txt {
  border: none;
  background: none;
  outline: none;
  float: left;
  padding: 0;
  color: white;
  font-size: 16px;
  transition: 0.4s;
  line-height: 40px;
  width: 0px;
  font-weight: bold;
}

@media screen and (max-width: 820px) {
  .logo img {
    width: 50%;
  }
  header {
    background-size: 130%;
    background-repeat: no-repeat;
    background-position: 40%;
    height: 500px;
  }
  .elementhd {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    background-color: rgba(0, 0, 0, 0.474);
    margin-left: 60%;
    padding-bottom: 170px;
  }
}
/* On screens that are 600px wide or less, the background color is olive */
@media all and (max-width: 500px) {
  nav {
    background-color: rgba(0, 0, 0, 0.474);
    border-radius: 10%;
  }
  nav .AccueilNav {
    display: flex;
    flex-direction: column;
    padding-left: 0%;
    margin-right: 20%;
  }
  .logo1 img {
    width: 60%;
    padding-right: 5%;
  }
  header {
    background-size: 220%;
    background-repeat: no-repeat;
    background-position: center;
    height: 350px;
  }
  .elementhd {
    display: flex;
    flex-direction: column;
    padding-left: 50px;
    background-color: rgba(0, 0, 0, 0);
    margin-left: 60%;
    padding-bottom: 90px;
  }
  .elementhd .navHidden {
    display: none;
  }
  .elementhd aside nav {
    display: flex;
  }
}
#ac {
  position: relative;
}
#ac::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%) scaleX(0);
  transform-origin: 50% 50%;
  width: 100%;
  height: 2px;
  background-color: #DABB70;
  transition: transform 250ms;
}
#ac:hover::after {
  transform: translateX(-50%) scaleX(1);
}

#ev {
  position: relative;
}
#ev::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%) scaleX(0);
  transform-origin: 50% 50%;
  width: 100%;
  height: 2px;
  background-color: #DABB70;
  transition: transform 250ms;
}
#ev:hover::after {
  transform: translateX(-50%) scaleX(1);
}

#co {
  position: relative;
}
#co::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%) scaleX(0);
  transform-origin: 50% 50%;
  width: 100%;
  height: 2px;
  background-color: #DABB70;
  transition: transform 250ms;
}
#co:hover::after {
  transform: translateX(-50%) scaleX(1);
}

.header3 h1 {
  color: white;
  font-family: "Lora", serif;
}

.hd3 {
  background-image: url(/images/photos/pexels-vlada-karpovich-4050470.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: 30%;
  height: 500px;
}

.header3 h1 {
  font-family: "Jost", sans-serif;
  margin: auto;
  font-size: 30px;
  margin-bottom: 10px;
}

.TitreHeaderContact {
  display: flex;
  justify-content: space-between;
  font-size: 55px;
  padding-left: 20%;
}
.TitreHeaderContact .TitreContact {
  margin-top: 0;
  font-size: 55px;
}

.ContactLogo .logo {
  display: flex;
  justify-content: end;
  padding-right: 5%;
}

.contenuhd3 {
  padding-left: 50px;
  background-color: rgba(94, 83, 83, 0.296);
  padding-bottom: 250px;
  padding-top: 30px;
}

.nav3 {
  font-size: 25px;
  display: flex;
  justify-content: end;
  padding-right: 25px;
}
.nav3 a {
  text-decoration: none;
  color: white;
  font-family: "Jost", sans-serif;
}
.nav3 a:hover {
  color: #DABB70;
}

.EvenementNav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 25px;
  margin-right: 60px;
  list-style: none;
}

.logo {
  display: flex;
  justify-content: end;
  padding-left: 40%;
}

.logo img {
  width: 30%;
}

@media all and (max-width: 500px) {
  .hd3 {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  .logo img {
    padding-right: 5%;
    width: 60%;
  }
  .TitreHeaderContact {
    padding-left: 0;
    flex-direction: column-reverse;
  }
  .TitreHeaderContact .TitreContact {
    font-size: 30px;
    margin-top: 60px;
  }
  .nav3 {
    display: block;
    font-size: large;
    background-color: rgba(0, 0, 0, 0.474);
  }
  .contenuhd3 {
    background: none;
  }
}
.header2 h1 {
  color: white;
  font-family: "Lora", serif;
}

.hd2 {
  background-image: url(/images/événements/evenement1.webp);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: 30%;
  height: 500px;
}

.header2 h2 {
  font-family: "Jost", sans-serif;
  margin: auto;
  font-size: 30px;
  margin-bottom: 10px;
}

.TitreHeaderEvenement {
  display: flex;
  justify-content: space-between;
  font-size: 55px;
  padding-left: 20%;
}
.TitreHeaderEvenement .TitreEvenement {
  margin-top: 0;
  font-size: 55px;
}

.EventLogo .logo {
  display: flex;
  justify-content: end;
  padding-right: 10%;
}

.contenuhd2 {
  padding-left: 50px;
  background-color: rgba(94, 83, 83, 0.296);
  padding-bottom: 250px;
  padding-top: 30px;
}

.nav2 {
  font-size: 25px;
  display: flex;
  justify-content: end;
  padding-right: 55px;
}
.nav2 a {
  text-decoration: none;
  color: white;
  font-family: "Jost", sans-serif;
}
.nav2 a:hover {
  color: #DABB70;
}

.EvenementNav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 25px;
  margin-right: 60px;
  list-style: none;
}

.logo2 {
  display: flex;
  justify-content: end;
}

.logo2 img {
  width: 280px;
  padding-right: 120px;
}

@media all and (max-width: 500px) {
  .hd2 {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  .DateEventNum h1 {
    font-size: x-large;
  }
  .CorpsDePage .BlocImgTxt {
    flex-direction: column;
  }
  .CorpsDePage .NouvelleTechnologie {
    width: 100%;
    margin-left: 0;
    padding-top: 25px;
  }
  .CorpsDePage .TexteADroite {
    padding-left: 0;
    margin-right: 2%;
    font-size: large;
    text-align: justify;
    letter-spacing: 0.5px;
    line-height: 30px;
  }
  .CorpsDePage h1 {
    font-size: x-large;
  }
  .CorpsDePage .BlocImgTxt1 {
    flex-direction: column;
  }
  .CorpsDePage .Festival {
    width: 100%;
    margin-left: 0;
    padding-top: 25px;
  }
  .CorpsDePage .TexteAGauche {
    display: block;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    text-align: justify;
    line-height: 30px;
    font-size: large;
  }
  .CorpsDePage .BlocImgTxt2 {
    flex-direction: column;
  }
  .CorpsDePage .BruxelleTour {
    width: 100%;
    margin-left: 0;
    padding-top: 25px;
  }
  .CorpsDePage .BlocImgTxt3 {
    flex-direction: column;
  }
  .CorpsDePage .FoireDuMidi {
    width: 100%;
    margin-left: 0;
    padding-top: 25px;
    margin-right: 5%;
    text-align: justify;
  }
  .CorpsDePage .BlocImgTxt4 {
    flex-direction: column;
  }
  .CorpsDePage .MatchDeFoot {
    width: 100%;
    margin-left: 0;
    padding-top: 25px;
    margin-right: 5%;
    padding-bottom: 6%;
  }
  .CorpsDePage .BlocImgTxt5 {
    flex-direction: column;
  }
  .CorpsDePage .MannifDeMatt {
    width: 100%;
    margin-left: 0;
    padding-top: 25px;
    margin-right: 5%;
  }
}
@media screen and (max-width: 500px) {
  aside {
    display: none;
  }
  aside.active {
    display: block;
  }
}
.ligne {
  border: 2px solid;
  color: #DABB70;
}

body {
  margin: 0;
  padding: 0%;
}

h2 {
  font-family: "Lora", serif;
  color: #DABB70;
  font-size: 50px;
}

p {
  font-family: "Jost", sans-serif;
  color: white;
  font-size: 30px;
}

main {
  background-color: #333333;
  height: 80%;
  padding-top: 1%;
}

.dernieresnouvelles {
  padding-top: 30px;
}

.containerun p {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  margin-left: 10%;
  margin-right: 9%;
}

@media all and (max-width: 500px) {
  .accueilIntro h2 {
    font-size: 30px;
  }
  .accueilIntro p {
    font-size: 12px;
  }
  .dernieresnouvelles h2 {
    font-size: 30px;
  }
}
@media all and (max-width: 500px) {
  .dernieresnouvelles {
    padding-top: 5px;
  }
  .containerun p {
    margin-right: 5%;
    margin-bottom: 0;
  }
}/*# sourceMappingURL=main.css.map */