@import "./Utils/fonction";
@import "./Utils/mixins";
@import "./Utils/variable";

@import "./Composants/Bouton";

@import "./Layout/AccueilBijoux";
@import "./Layout/AccueilNews";
@import "./Layout/AccueilQSJ";
@import "./Layout/Footer";
@import "./Layout/Header";
@import "./Layout/MenuBurger";
@import "./Layout/Navbar";
@import "./Layout/SliderHeader";

@import "./Pages/Accueil";
@import "./Pages/Bijoux";
@import "./Pages/Contact";
@import "./Pages/Fabrication";
@import "./Pages/QuiSuisJe";


