.MiniPresentation {
    display: flex;
    justify-content: center;
    width: 90%;
    margin-top: 90px;
    margin-left: 5%;
    
    background-color: rgba(255, 255, 255, 0.526);
    border-radius: 5px;
}

.BienvenueTitre {
 
    font-family: $FontNathalie;
   font-size: 50px;
   
    margin-bottom: 1.5%;
    padding-left: 5%;
    color: #B4a188;
}

.TexteDroite {
    font-size: 25px;
    font-family: $FontTexte;
    letter-spacing: 3px;
    padding-left: 5%;
    margin-top: 1.5%;
}

.ContenuTexteDroite {
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 3%;
}

.QuiSuisJeAccueil {
    display: flex;
    justify-content:center;
    width: 65%;
    font-size: 30px;
    font-family: $FontTitre;
    border: solid 3px;
    border-width: 5px;
    border-color: $BackgroundAvis ;
    margin-left: 15%;
    margin-top: 80px;

}

.LienQSJ {
    display: inline-flex;
    justify-content: center;
    text-align: center;
    width: 100%;
    text-decoration: none;
    color: black;
}

.ImageGauche img {
    width: 440px;
    padding: 12% 12% 12% 12%;
}