.ContainerHaut {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin-left: 15%;
    margin-top: 6%;
}

.ContainerHautGauche {

    p {
        display: flex;
        justify-content: start;
        font-size: 40px;
        font-family: $FontTitre;
        margin-top: 0;

        a {
            display: flex;
            justify-content: center;
            align-items: center;
            text-decoration: none;
            color: black;
            width: 64.5%;
            border: solid 3px;
            border-width: 3px;
            border-color: #B4a188;
            padding-top: 2%;
            padding-bottom: 2%;
        }
    }
}

.ContainerHautDroite {

    p {
        display: flex;
        justify-content: start;
        font-size: 40px;
        font-family: $FontTitre;
        margin-top: 0;

        a {
            display: flex;
            justify-content: center;
            align-items: center;
            text-decoration: none;
            color: black;
            width: 64.5%;
            border: solid 3px;
            border-width: 3px;
            border-color: #B4a188;
            padding-top: 2%;
            padding-bottom: 2%;
        }
    }
}

.ContainerHaut img {
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.351) ;
    width: 520px;
}


.ContainerBas {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin-left: 15%;
    margin-top: 6%;
}

.ContainerBasGauche {

    p {
        display: flex;
        justify-content: start;
        font-size: 40px;
        font-family: $FontTitre;
        margin-top: 0;

        a {
            display: flex;
            justify-content: center;
            align-items: center;
            text-decoration: none;
            color: black;
            width: 64.5%;
            border: solid 3px;
            border-width: 3px;
            border-color: #B4a188;
            padding-top: 2%;
            padding-bottom: 2%;
        }
    }
}

.ContainerBasDroite {
    
    p {
        display: flex;
        justify-content: start;
        font-size: 40px;
        font-family: $FontTitre;
        margin-top: 0;

        a {
            display: flex;
            justify-content: center;
            align-items: center;
            text-decoration: none;
            color: black;
            width: 64.5%;
            border: solid 3px;
            border-width: 3px;
            border-color: #B4a188;
            padding-top: 2%;
            padding-bottom: 2%;
        }
    }
}

.ContainerBas img {
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.351) ;
    width: 520px;
}