.FirstContainer{
    display: flex;

    #LogoSamaraBijouxFt{
        width: 240px;
    }

    .ContactFooter{
        margin-left: 10%;
        h2{
            font-size: x-large;
            font-family: $FontTexte;
        }
    }
}