// // menu burger 


// .main-nav-burger {
//     position: absolute;
//     top: 0;
//     left: 0;
//     background-color: $grisFonce;
    
//     height: 100%;
//     transform: translateX(0%);
//     transition: transform 0.3s ease-in-out;
//     z-index: 1;
//   }
  
//   .main-nav-burger.visible {
//     transform: translateX(0%);
//     position: fixed;
//   }
  
//   #btn-burger {
//     background-color: $special;
//     border: 0.1em solid;
//     display: none;
// }
// .burger .burger-bar {
//     width: 30px;
//     height: 4px;
//     background-color: $grisFonce;
//     display: block;
//     margin: 5px auto;
//   }

//   @media screen and (max-width: 768px) {
//     #btn-burger {
//       display: block;
//       position: fixed;
//       font-size: 3em;
//       z-index: 2;
      
//     }
  

//     .main-nav-burger.visible {
//       display: block;
//       position:fixed;
//       width: 70%;
//       z-index: 1;
      
//   }
 
  
// }

// @media screen and (max-width: 768px) {
//   .burger {
//     display: block;
// }

// .main-nav-burger {
//     position: absolute;
//     top: 0;
//     left: 0;
//     height: 100%;
//     width: 100%;
//     background-color: $grisClairMoyen;
//     z-index: 1;
//     transform: translateX(-100%);
//     transition: transform 0.3s ease-in-out;
// }

// .main-nav-burger.show {
//     transform: translateX(0%);
// }

// .main-nav-burger .Menu {
//     margin-top: 80px;
// }
// .burger-bar {
//   display: block;
//   width: 24px;
//   height: 3px;
//   margin-bottom: 5px;
//   background-color: #333;
//   transition: transform 0.3s ease-in-out;
// }

// .burger.show .burger-bar:nth-child(1) {
//   transform: rotate(45deg) translate(5px, 5px);
// }

// .burger.show .burger-bar:nth-child(2) {
//   opacity: 0;
// }

// .burger.show .burger-bar:nth-child(3) {
//   transform: rotate(-45deg) translate(7px, -6px);
// }
// }

@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');

body {
  padding: 0px;
  margin: 0px;
  font-size: 20px;
  min-height: 200vh;
  font-family: $FontTexte;
}

.overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    transition: opacity .35s, visibility .35s, height .35s;
    overflow: hidden;
    background: black;
    z-index: -1;
}

#main-menu {
  display: block;
  height: 100px;
  width: 100%;
  background: #3D0E61;
  margin: 0px;  
  z-index: 9;
}

#main-menu ul {
  max-width: 800px;
  width: 100%;
  height: 100%;
  margin: 0px auto;
  padding: 0px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  z-index: 9;
}

#main-menu li {
  list-style-type: none;
  font-size: 2rem;
}

#main-menu a {
  color: #B9FAF8;
  font-size: 1.5rem;
  text-decoration: none;
}

#main-menu a:hover {
  text-decoration: underline;
}

#hamburger-input{
  display: none;
}

#hamburger-menu {
    position: fixed;
    top: 20px;
    left: 20px;
    width: 50px;
    height: 50px;
    display: none;
    border: none;
    padding: 0px;
    margin: 0px;
    font-family: $FontTexte;
    background: linear-gradient(
      to bottom, 
      #B4A188,  #B4A188 20%, 
      rgba(255, 255, 255, 0) 20%, rgba(255, 255, 255, 0) 40%, 
      #B4A188,  #B4A188 40% 60%, 
      rgba(255, 255, 255, 0) 60%, rgba(255, 255, 255, 0) 80%, 
      #B4A188,  #B4A188 80% 100%
    );
}

#hamburger-menu #sidebar-menu {
    visibilty: hidden;
    position: fixed;
    top: 0;
    left: -250px;
    width: 200px;
    height: 100%;
    background-color:  #B4A188;
    transition: 0.3s;
    padding: 0px 10px;
    box-sizing: border-box;
}

#hamburger-menu h3 {
  color: #ffffff;
  font-size: 2.2rem;
  font-family: $FontTexte;
}

#hamburger-menu ul {
  padding-left: 0px;
}

#hamburger-menu li {
  list-style-type: none;
  line-height: 3rem;
}

#hamburger-menu a {
  color: #ffffff;
  font-size: 1.3rem;
  text-decoration: none;
}

#hamburger-menu a:hover {
  text-decoration: underline;
}

#hamburger-input:checked + #hamburger-menu #sidebar-menu {
    visibility: visible;
    left: 0;
}
#hamburger-input:checked ~ .overlay{
   visibility: visible;
  opacity: 0.4;
}


@media screen and (max-width: 750px) {
  #main-menu {
    display: none;
  }
  #hamburger-menu {
    display: inline;
  }
}