.NavBar {
  display: flex;

  .Menu {
    display: flex;
    width: 120%;
    list-style-type: none;
    align-items: center;
    justify-content: space-evenly;
    padding-left: 5%;
    margin-left: 15%;

    a {
      color: black;
      font-size: xx-large;
      text-decoration: none;
      font-family: $FontTexte;
    }
  }
}

.LogoSamaraBijoux {
  display: flex;
  width: 150px;
  justify-content: flex-start;

}

.Ligne {
  border: 1.5px solid;
  color: rgba(70, 70, 70, 0.70);
}
