
// Slider // 
.slider {
    // width: 100%;
  
    height: 800px;
    overflow: hidden;
    position: relative;
    // margin-right: 2%;
  }

  .slider img {
    width: 100%;
    height: 170%;
    position: absolute;
   top: -30%;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.slider img.active {
    opacity: 1;
}


.slider .prev {
    left: 10px;
}

.slider .next {
    right: 10px;
}



.SamaraSlider{
.Titreslider {



    .TitreSurImage{
        
        z-index: 1;
        position: absolute;
        text-align: center;
        width: 40%;
        margin: 0 auto;
        left: 40%;
        right: 0;
        top: 140%;
        color: white;
        width: 70%;
       
      

    }
  
        a {
        
text-decoration: none;
            border: 1px solid black ;
            padding: 15px 10px 15px 10px
        }
    
}
}
 





