.Icones img {
    width: 128px;
}

.Icones p {
    font-family: $FontTexte;
    font-size: 20px;
    font-weight: 400;
}

.Icones {
    display: flex;
    justify-content: space-between;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 6%;
}

.ContainerTruck {
    display: flex;
    flex-direction: column;
    width: 30%;
    text-align: center;

    img {
        margin-left: 33%;
        margin-bottom: 5%;
    }
}

.ContainerTime {
    display: flex;
    flex-direction: column;
    margin-left: 5%;
    width: 30%;
    text-align: center;

    img {
        margin-left: 30%;
        margin-bottom: 5%;
    }
}

.ContainerComments {
    display: flex;
    flex-direction: column;
    margin-left: 5%;
    width: 30%;
    text-align: center;

    img {
        margin-left: 33%;
        margin-bottom: 5%;
    }
}

.ContainerGlobe {
    display: flex;
    flex-direction: column;
    margin-left: 5%;
    width: 30%;
    text-align: center;

    img {
        margin-left: 30%;
        margin-bottom: 5%;
    }
}

// Section Vos avis 

.TitreAvis {
    font-family: $FontNathalie;
    font-size: 40px;
    margin-left: 10%;
}

.VosAvis {
    display: flex;
    flex-direction: column;
    margin-bottom: 5%;
    width: 100%;

    p {
        font-family: $FontTexte;
        font-size: x-large;
        color: white;
        background-color: $BackgroundAvis;
        border-radius: 4px;
        width: 45%;
        letter-spacing: 3px;
        line-height: 175%;
        padding: 30px 30px 30px 30px;
    }
}

.Avis1 {
    margin-left: 40%;
}

.Avis2 {
    margin-left: 10%
}

.Avis3 {
    margin-left: 40%
}

.Avis4 {
    margin-left: 10%
}