.Icones img {
    width: 128px;
}

.Icones p {
    font-family: $FontTexte;
    font-size: 20px;
    font-weight: 400;
}

.Icones {
    display: flex;
    justify-content: space-between;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 6%;
}

.ContainerTruck {
    display: flex;
    flex-direction: column;
    width: 30%;
    text-align: center;

    img {
        margin-left: 33%;
        margin-bottom: 5%;
    }
}

.ContainerTime {
    display: flex;
    flex-direction: column;
    margin-left: 5%;
    width: 30%;
    text-align: center;

    img {
        margin-left: 30%;
        margin-bottom: 5%;
    }
}

.ContainerComments {
    display: flex;
    flex-direction: column;
    margin-left: 5%;
    width: 30%;
    text-align: center;

    img {
        margin-left: 33%;
        margin-bottom: 5%;
    }
}

.ContainerGlobe {
    display: flex;
    flex-direction: column;
    margin-left: 5%;
    width: 30%;
    text-align: center;

    img {
        margin-left: 30%;
        margin-bottom: 5%;
    }
}

// Section Vos avis 

.TitreAvis {
    font-family: $FontNathalie;
    color: #000000;
    font-size: 20px;
    margin-left: 10%;
}

.VosAvis {
    display: flex;
    flex-direction: column;
    padding-bottom: 5%;
    width: 100%;

    p {
        font-family: $FontTexte;
        font-size: x-large;
        color: white;
        background-color: $BackgroundAvis;
        border-radius: 4px;
        width: 45%;
        letter-spacing: 3px;
        line-height: 175%;
        padding: 30px 30px 30px 30px;
    }
}

.Avis1 {
    margin-left: 40%;
}

.Avis2 {
    margin-left: 10%
}

.Avis3 {
    margin-left: 40%
}

.Avis4 {
    margin-left: 10%
}

.hautDePage img {
    width: 100%;
}

.BackToTopBtn {

    .btn-primary {

        display: flex;
        justify-content: center;
        background-color: $BackgroundAvis;
        width: 100%;
        border: 3px;
        border-radius: 3px;
        border-color: black;
        margin-bottom: 0%;

        a {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            text-decoration: none;
            color: beige;
            font-size: xx-large;
            padding-top: 1%;
            padding-bottom: 1%;

        }
    }

    .btn-primary :hover {
        background-color: #9e8f7e;
    }
}             

// carousel barre

.carousel{
body,
button,
input,
select,
optgroup,
textarea {
   
 
    font-size: 1rem;
    line-height: 1.6;
}
.carousel {
    font-size: 1rem;
    line-height: 1.6;
}

h1 {
    font-size: 2rem;
    margin: 2rem auto 1rem;
    line-height: 1;
}


p {
    font-family: $FontTexte ;
}


// a:hover,
// a:focus,
// a:active {
//     background-color: #3d4852;
//     color: white;
// }

a {
    color: inherit;
    transition: 0.25s all ease-in-out;
}

a:visited {
    color: #ffffff;
}

// a:hover,
// a:focus,
// a:active {
//     background-color: #3d4852;
//     color: white;
// }

// a:focus {
//     outline: thin solid #3d4852;
// }



// a.button {
//     align-items: center;

//     border-radius: 4px;
//     color: white;
//     cursor: pointer;
//     display: inline-flex;
//     padding: 0.25rem 0.75rem;
//     text-decoration: none;
//     transition: all 0.25s ease-in-out;
// }

// a.button:hover,
// a.button:focus {
//     background-color: #58636F;
//     box-shadow: 0 0 2px 2px #bac6d3;
// }

// a.button:focus {
//     outline: 1px solid #3d4852;
// }

// a.button:visited {
//     color: #fff;
// }

ul {
    margin-left: 15%;
    margin-right: 12%;
}

li {
    display: inline-block;
}

// svg {
//     fill: currentColor;
//     width: 1.5rem;
//     height: 1.5rem;
// }

img {
    height: auto;
    margin-bottom: .5rem;
    max-width: calc(100% + 2rem);
    position: relative;
    left: -1rem;
    right: -1rem;
}

p {
    margin: 0 0 .5rem;
}





.card {
    border: 2px solid #B4a188;

    border-radius: 8px;
    padding: 30px;
}

/********************************
* Carousel styles
*********************************/
.carousel-items {
    display: flex;
    overflow-x: scroll;
    padding: 2rem 0;
    scroll-snap-type: x mandatory;
}

.carousel-item {
    flex: 1 0 250px;
    margin-left: 1rem;
    scroll-snap-align: start;
}

::-webkit-scrollbar-track {
    background-color: #F5F5F5;
    padding: 20px;
}

::-webkit-scrollbar {
    height: 6px;
    margin-left: 20%;
    background-color: #F5F5F5;
}

    ::-webkit-scrollbar-thumb {
        background-color: $ColorBarre;
        border-radius: 13px;
        padding-left: 20px;
        width: 20px;
    }



/********************************
* Breakpoints
*********************************/
    @media screen and (min-width: 576px) {
        .carousel-item {
            flex-basis: 300px;
        }
    }

    @media screen and (min-width: 992px) {

        body,
        button,
        input,
        select,
        optgroup,
        textarea {
            font-size: 1.125rem;
        }

        h1 {
            font-size: 2.75rem;
        }

        .carousel-item {
            flex-basis: 325px;
        }
    }

    @media screen and (min-width: 1280px) {
        h1 {
            font-size: 4rem;
        }

        .carousel-item {
            flex-basis: 450px;
        }
    }

    @media screen and (min-width: 1600px) {

        body,
        button,
        input,
        select,
        optgroup,
        textarea {
            font-size: 1.25rem;
        }
    }
}