
.BackgroundColor{
    background-color: #ede9e2;
    padding-bottom: 70px;
}


.co1{
    width: 1350px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
  

}

.S1{
    margin-left: 18%;
    padding-top: 50px;
 
}

.Colliers{
    margin-left: 36%;
}

.Bracelets{
    margin-left: 35%;
}

.Bagues{
    margin-left: 36%;
}

.Bijouxctn .Boucles-Doreilles{
    margin-left: 29.5%;
}

.Bijouxctn{
    h1{
       font-family: 'Dancing Script', cursive;
       font-size: 50px;
       color: #B4A188;
       
    }

   

    p{
        text-align: center;
        background-color: #ffffff;
       padding-top: 20px;
       margin-top: 2px;
       padding-bottom: 20px ;
       font-family: 'Quicksand', sans-serif;
       padding-right: 20px;
       padding-left: 20px;
       width: 300px;
       height:65px ;
       box-shadow: 0 0 0.5em rgba(38, 38, 38, 0.326) ;
       
    }

    img{
        box-shadow: 0 0 0.5em rgba(38, 38, 38, 0.326) ;
    }
}

.Un{
    margin-bottom: 40px;

}


@media screen and (max-width: 500px) {

    .BackgroundColor{
        background-color: #ede9e2;
        padding-bottom: 70px;
    }
    
    
    .co1{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: 400px;
        gap: 5px;
      
    }
    
    .co2{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
       
    }
    
    .S1{
        margin-left: 50px;
        padding-top: 1px;
     
    }
    
    .Bijouxctn .Boucles-Doreilles{
        margin-left: 3%;
    }
    
    .Bijouxctn{
        h1{
           margin-left: 31%;
           font-family: 'Dancing Script', cursive;
           font-size: 50px;
           color: #B4A188;
           
        }
    
       
    
        p{
            text-align: center;
            background-color: #ffffff;
           padding-top: 20px;
           margin-top: 2px;
           padding-bottom: 20px ;
           font-family: 'Quicksand', sans-serif;
           font-size: 10px;
           padding-right: 20px;
           padding-left: 20px;
           width: 100px;
           height:65px ;
           box-shadow: 0 0 0.5em rgba(38, 38, 38, 0.326) ;
           
        }
    
        img{
            box-shadow: 0 0 0.5em rgba(38, 38, 38, 0.326) ;
            width: 70%;
        }
    }
    
    .Un{
        margin-bottom: 40px;
    
    }
}