.co1{
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.co2{
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.S1{
    margin-left: 20%;
    padding-top: 50px;
}

.Bijouxctn{
    h1{
       margin-left: 31%;
       font-family: 'Dancing Script', cursive;
    }
}