.fabrique img{
    width: 75%;
   background-color: #ffffff;
   border-radius: 54% 46% 70% 30% / 53% 56% 44% 47% ;
   box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.351) ;
}



.ctnfabrik2  {

  background-color:#ede9e2;

display: flex;
flex-direction: row-reverse;
padding-bottom: 50px;
}

.ctnfabrik2 img {
  width: 500px;
   box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.351) ;

}

.txt2 {
    font-family: $FontTexte ;
margin-right: 10%;
   margin-left: 10%;
}

.txt2 h1 {
    font-family: $FontNathalie;
}

.fabrique {
    display: flex;
    flex-direction: row;
margin-top: 0%;
margin-left: 40px;

   
}

.fabrique p {
font-family: $FontTexte;
margin: 40px;
padding-right: 30px;
padding-top: 20px;

}

.fabrik{
    display: flex;
}

.img2 {
    padding-right: 10%;
}


.ctnFabrik{
    display: flex;

    background-color:#ede9e2;
 padding: 60px;
}



.txtFabrik p {
  
    color: #000000;
margin: 0%;

  
}

.txtFabrik{
    padding-left: 20px;
    
    background-color:#ffffff99;
}

.TitreFabrik h1{
  
    margin-left: 30px;
    color:  #000000;
    font-size: 50px;
   
}

.TitreFabrik p {
 padding-left: 30px;
 padding-right: 60px;
 padding-bottom: 50px;
 font-family: $FontTexte;
}

// Bouton 

.button3 {
    display: inline-block;
    border-radius: 4px;
    background-color: $BackgroundAvis ;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 25px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin-left: 35%;
    margin-top: 5%;
    font-family: $FontTitre;
  }
  
  .button3 span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button3 span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button3:hover span {
    padding-right: 25px;
  }
  
  .button3:hover span:after {
    opacity: 1;
    right: 0;
  }


// Média queries

  @media all and  (max-width: 500px){
    
  }