.fabrique img{
    width: 60%;
   background-color: #ffffff;
   border-radius: 54% 46% 70% 30% / 53% 56% 44% 47% ;

}

.fabrique {
    display: flex;
    flex-direction: row;
margin-top: 25%;
margin-left: 40px;

   
}

.fabrique p {
font-family: $FontTexte;
margin: 30px;

}








.back{
    background-color: $BackgroundText;
 
}

.ctnFabrik{
    display: flex;

  background-color:$BackgroundText;
 
}


.txtFabrik p {
    margin: 20px;
    color: #000000;
   
}

.T{
    font-size: 30px;
    font-family:$FontTexte ;
}


.TitreFabrik{
    z-index: 2;
    position: absolute;
    margin-left: 30px;
    color:  #ffffff;
    font-size: 25px;
}

.imgFabrik img{
    z-index: 1;
  
    
}

