.fabrique img{
    width: 60%;

}

.fabrique {
    display: flex;
    flex-direction: row;
   
}

.fabrique p {
font-family: $FontTexte;
margin: 30px;
}




.fabrik {

background-color: $BackgroundPage;
}

.fabrik h1 {
    margin: 0%;
}