.TitreSamara {
    font-family: $FontNathalie;
    font-size: 40px;
    margin-left: 40px;
    margin-bottom: 7%;
}

.Présentation {
    display: flex;
    flex-direction: column;
    margin-left: 8%;
    margin-right: 8%;
    justify-content: center;
    font-family: $FontNathalie ;
    font-size: 25px;

    p {
        font-family: $FontTexte;
    }
}

.Bloc1 {
    display: flex;
    flex-direction: column;
    margin-bottom: 10%;
    width: 90%;
    align-items: center;
    margin-left: 5%;

    .Description1 {
        width: 70%;
        margin-left: 5%;
        line-height: 200%;
    }
}

.Bloc1 img {
    width: 90%;
    margin-top: 4%;
}

.Bloc2 {
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: 5%;
    background-color: #ffffff9d;

    .Description2 {
        display: flex;
        align-items: center;
        width: 55%;
        margin-right: 5%;
        line-height: 200%;
    }
}

.Bloc3{
    display: flex;
    flex-direction: column;
    line-height: 60px;

    .Description3{
        font-size: 30px;
        margin-bottom: 3%;
    }
}

.MeDécrire{
    display: flex;
    justify-content: center;
    font-size: 50px;
}

main {
    background-color: #ede9e2;
}

// PASSAGE AU MEDIA QUERIES 
