$ColorLineGray : rgba(70, 70, 70, 0.70);

$BackgroundPage : #EdE9E2 ; 

$BackgroundText : #E4DCD1 ;

$BackgroundAvis : #B4A188 ; 

$FontTexte : 'Quicksand';

$FontNathalie : 'Italiana' ; 

$FontTitre : 'Dancing script' ; 

$ColorBarre : #7E7575 ; 